# 1. Write code snippetsin python to perform the following tasks:
    •Print your current working directory
    •Create a new directory on your desktop named: “Text Mining and NLP”
    •Make “Text Mining and NLP” your current working directory

In [5]:
#Print your current working directory
import os

print(os.getcwd())

C:\Users\pavani cheerala\Desktop\Text Mining and NLP

In [6]:
#Create a new directory on your desktop named: “Text Mining and NLP”
from pathlib import Path

desktop_path = Path.home() / "Desktop" / "Text Mining and NLP"
desktop_path.mkdir(exist_ok=True)

print("Directory created at:", desktop_path)

Directory created at: C:\Users\pavani cheerala\Desktop\Text Mining and NLP

In [7]:
#Make “Text Mining and NLP” your current working directory
import os
from pathlib import Path

new_dir = Path.home() / "Desktop" / "Text Mining and NLP"
os.chdir(new_dir)

print("Current Working Directory:")
print(os.getcwd())

Current Working Directory:
C:\Users\pavani cheerala\Desktop\Text Mining and NLP

# 2. Write code snippets in python to perform the following tasks:
    •Create a text file named “Greetings.txt” and write “Welcome toText Mining and Natural Language Processing”
    •Move this file to the folder “Text Mining and NLP” which you created in ques 1
    •Rename this file to “Welcome.txt”

In [8]:
#Create a text file named “Greetings.txt” and write “Welcome toText Mining and Natural Language Processing”

from pathlib import Path

file_path = Path("Greetings.txt")

file_path.write_text("Welcome to Text Mining and Natural Language Processing")

print("File created and text written successfully!")

File created and text written successfully!

In [11]:
#Move this file to the folder “Text Mining and NLP” which you created in ques 1

from pathlib import Path

# Source file
source_file = Path("Greetings.txt")

# Destination folder (created in Q1)
destination_folder = Path.home() / "Desktop" / "Text Mining and NLP"

# Move file
destination_file = destination_folder / source_file.name
source_file.rename(destination_file)

print("File moved successfully to:", destination_file)

File moved successfully to: C:\Users\pavani cheerala\Desktop\Text Mining and NLP\Greetings.txt

In [13]:
#Rename this file to “Welcome.txt”

from pathlib import Path

folder = Path.home() / "Desktop" / "Text Mining and NLP"

old_file = folder / "Greetings.txt"
new_file = folder / "Welcome.txt"

old_file.rename(new_file)

print("File renamed successfully to:", new_file)

File renamed successfully to: C:\Users\pavani cheerala\Desktop\Text Mining and NLP\Welcome.txt

# 3. You are given a docx file named “NLP.docx”. Perform the following tasks:
    •Use DOCX module to open the file and perform the following tasks:
    •How many paragraphs are there in the file?
    •For each paragraph, print the number of words it contains
    •Read the content from “Welcome.txt” file which you created in question number 2 and make that content the first paragraph in “NLP.docx” file

In [21]:
!pip install python-docx

Collecting python-docx
  Downloading python_docx-1.2.0-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: lxml>=3.1.0 in e:\anaconda3\lib\site-packages (from python-docx) (5.3.0)
Requirement already satisfied: typing_extensions>=4.9.0 in e:\anaconda3\lib\site-packages (from python-docx) (4.15.0)
Downloading python_docx-1.2.0-py3-none-any.whl (252 kB)
Installing collected packages: python-docx
Successfully installed python-docx-1.2.0

In [25]:
#How many paragraphs are there in the file?

from docx import Document

doc = Document("NLP.docx")
print("How many paragraphs are there in the file :: ", len(doc.paragraphs))

How many paragraphs are there in the file ::  26

In [29]:
#For each paragraph, print the number of words it contains

from docx import Document
doc = Document("NLP.docx")

count =1
for i in doc.paragraphs:
    word = i.text.split()
    print("Paragraph ", count, "has ",len(word) )
    count +=1

Paragraph  1 has  74
Paragraph  2 has  58
Paragraph  3 has  135
Paragraph  4 has  26
Paragraph  5 has  6
Paragraph  6 has  75
Paragraph  7 has  38
Paragraph  8 has  64
Paragraph  9 has  47
Paragraph  10 has  50
Paragraph  11 has  9
Paragraph  12 has  71
Paragraph  13 has  37
Paragraph  14 has  76
Paragraph  15 has  97
Paragraph  16 has  8
Paragraph  17 has  45
Paragraph  18 has  105
Paragraph  19 has  35
Paragraph  20 has  54
Paragraph  21 has  59
Paragraph  22 has  6
Paragraph  23 has  82
Paragraph  24 has  92
Paragraph  25 has  76
Paragraph  26 has  60

In [32]:
#Read the content from “Welcome.txt” file which you created in question number 2 and make that content the first paragraph in “NLP.docx” file

from pathlib import Path
from docx import Document

txt_doc = Path("Welcome.txt")
content = txt_doc.read_text()
document = Document("NLP.docx")
document.paragraphs[0].insert_paragraph_before(content)
document.save("NLP.docx")

# 4. You are given a csv file named “EmployeeDetails.csv”. Perform the following tasks:
    •Use pandas module to read the csv file
    •Split the name as first name and last name and make two separate columnsas shown
    •Delete “Name” Column 
    •Increment the “Salary” Column by 10% of the existing valueand save changes in same column onlyas shown 
    •Save changes to a new file named “Employee_Data.csv”

In [55]:
#•Use pandas module to read the csv file
#•Split the name as first name and last name and make two separate columnsas shown

import pandas as pd

csv_file = pd.read_csv("EmployeeDetails.csv")

csv_file.columns = csv_file.columns.str.strip()

csv_file["First Name"] = csv_file["Name"].str.split().str[0]
csv_file["Last Name"] = csv_file["Name"].str.split().str[-1]

csv_file.head()

              Name  Age  Salary First Name Last Name
0     Arjun singh    24   10000      Arjun     singh
1       Vibhor Jha   26   25000     Vibhor       Jha
2  Yoshita Debnath   23   15000    Yoshita   Debnath
3   Abhitesh Setia   25   18000   Abhitesh     Setia
4    Shaurya Nayar   26   30000    Shaurya     Nayar

In [57]:
#Delete “Name” Column 

csv_file = csv_file.drop(columns=["Name"])
csv_file.head()

   Age  Salary First Name Last Name
0   24   10000      Arjun     singh
1   26   25000     Vibhor       Jha
2   23   15000    Yoshita   Debnath
3   25   18000   Abhitesh     Setia
4   26   30000    Shaurya     Nayar

In [59]:
#Increment the “Salary” Column by 10% of the existing value and save changes in same column only as shown

csv_file["Salary"] = csv_file["Salary"]*1.10
csv_file.head()

   Age   Salary First Name Last Name
0   24  12100.0      Arjun     singh
1   26  30250.0     Vibhor       Jha
2   23  18150.0    Yoshita   Debnath
3   25  21780.0   Abhitesh     Setia
4   26  36300.0    Shaurya     Nayar

In [64]:
#Save changes to a new file named “Employee_Data.csv”

csv_file.to_csv("Employee_Data.csv", index=False)